@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .center-absolute {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

body {
  font-family: 'Museo Sans', sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}